body{
    margin: 0;
    background-image: url('../photos/10026.jpg');
}
.container a {
  text-decoration: none;
 color: black;
}
/*
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff2da;
    text-align: center;
    overflow: hidden;
    position: sticky; 
    z-index: 1000;
    top: 0;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
  }
   
  ul.navbar li {
    display: inline-block;
  }
  
  .navbar .left a{
    margin-top: 3px;
    margin-right:110px;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #11237ce2;
    font-size: 29px;
    font-weight:900;
    font-family: 'Rubik', sans-serif;
  }
  
  .logo {
    position: absolute;
    top: 4px;
    left: 205px;
    width: 45px;
  }
  .logo :hover {
  cursor: pointer;
  }
  
  
  .navbar .right a{
    margin-top: 3px;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .right a:hover {
    transform: scale(1.2);
    opacity: 0.9;
  }
  .navbar .right a:h {
    color: #ff0000;
  }
  
  .searchbar{ 
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 130px;
    height: 25px;
    border-radius: 20px;
    border-style:solid;
    border-color: #ebe5e5
  
  }
  
  .log-in{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius:5px;
    border-style:hidden;
    background-color: #11237ce2;
    color: white;
    transition: opacity 0.15;
  }
  .log-in:hover{
    cursor: pointer;
    opacity:0.9;
  }
  .log-in:active{
  background-color: white;
  color: #11237ce2; 
  }
  
  .sign-up{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    height: 30px; 
    border-radius: 5px;
    border-style:hidden;
    background-color: #11237ce2;
    color: white;
  }
  .sign-up:hover{
    cursor: pointer;
    opacity:0.9;
  }
  .sign-up:active{
    background-color: white;
    color: #11237ce2; 
    } */
.catebar li{
    display:inline-block;
    padding: 8px 16px;
    margin-top: 5px;
}
.catebar{
margin-top: 40px;
text-align: center;
background-color: #f6ebd9;
width: 100%;
height: 50px;
transition: 0.3s;
box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1) ;
}
.cate-list a{
color: #333;
font-size: 20px;
font-family: 'Rubik', sans-serif;
text-decoration: none;
transition: 0.5s;
}
.cate-list a:hover{
    color: #bb5a0b;
}
.wel-cate{
    margin-top: 60px;
}
.line1{
    font-family: "Lora",serif;
    font-size: 30px;
    margin: 0 0 8px;
    margin-left: 268px;
    font-weight: bold;
    color: #333;
}
.line2{
    font-family: "Lora",serif;
    font-size: 20px;
    margin: 0 0 8px;
    margin-left: 270px;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
}
.content{
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 0px;
    width: 450px;
    height: 320px;
    position: relative; 
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: 98px auto;
    border-bottom: 2px solid #714b274c;
  }
  .cover{
    flex: 4.5;
    margin: 0;
    height: 260px;
    width: 154px;
  }
  .info1 {
    font-family: "Lora",serif;
    margin: 0;
    width: 232px;
    display: block;
    margin-left: 60px;
    font-size: 22px;
    font-weight: bold;
  
  }
  .info2{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    width: 232px;
    display: block;
    margin-left: 60px;
    font-size: 17px;
    margin-top: 30px;
  
  }
  .info3{
    font-family: "Lora",serif;
    margin: 0;
    width: 278;
    display: block;
    margin-left: 60px;
    font-size: 16px;
    margin-top: 30px;
  }
  .desc{
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-family: "Lora",serif;
  }
  .container{
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    display: grid;
    width: 0;
    margin-left: 150px;
  }
  .pic1{
    width:154px;
    height: 246px;
  }
  
  .hr{
    width: 64%;
    opacity: 0.5;
  }