<div style="text-align: center;">
    <p class="p1">You need to login first</p>
    <button class="creatacc" onclick="window.location.href = '/log/signup'">Create your account now</button>
    <button class="creatacc" onclick="window.location.href = '/log/signin';">Sign in</button>
</div>

<style>
  body {
    margin: 0px;
    background-image: url("../photos/10026.jpg");
  }
    .p1{
    font-family: "Lora",serif;
    font-size: 40px;
    line-height: 1.285;
    /* margin-top: 90px;
    margin-left: 20px; */
    font-weight: bold;

    color: #333;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    }

  .creatacc{
    font-family: "Rubik",sans-serif;

    /* margin-top: 10px;
    margin-left: 478px;  */
    height: 40px; 
    font-size: 25px;
    background-color: #11237ce2;
    color: white;
    border-style: hidden;
    border-radius: 10px;
    transition: opacity 0.15;
    font-weight: 500;
    height: 50px;
    width: 350px;
  }
  
  .creatacc:hover{
    cursor: pointer;  
    opacity:0.9;
  }
  
  .creatacc:active{
    background-color: white;
      color: #11237ce2;
  }
</style>