<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>Email:</label>
        <input type="text" id="input-email">
        <br>
        <label>password:</label>
        <input type="password" id="input-password">
        <button id="login-btn">log in</button>
        <input type="checkbox" id="remember-check" >
        <label for="remember-check" >Remember me</label>
    </form>
    <script src="../controllers/signin.js"></script>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html>
  <title> Log in </title>
  <link rel="icon" href="../photos/ebook-icon-png-6.jpg" type="image/x-icon">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/signin.css">
  </head>
  <div class="logo">
    <p class="welcome"> Welcome to </p>
    <img class="logoimg" src="../photos/ebook-icon-png-6.jpg">
    <p class="webtitle"> Bookwise </p>
  </div>
  <form id="form">
    <label>Email:</label>
    <input type="text" id="input-email">
    <br>
    <label>password:</label>
    <input type="password" id="input-password">
    <button id="login-btn">log in</button>
    <input type="checkbox" id="remember-check" >
    <label for="remember-check" >Remember me</label>
</form>
  <div class="socialacc">
    <p> Continue with your social account : </p>
    <div class="accbuttons">
      <button class="google">Google</button>
      <button class="facebook">Facebook</button>
    </div>
    <script type="module" src="../controllers/signin.js"></script>
    </body>
</html> -->

<!DOCTYPE html>
<html>
  <title> Log in </title>
  <link rel="icon" href="../photos/ebook-icon-png-6.jpg" type="image/x-icon">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/signin.css">
  </head>
  <div class="logo">
    <p class="welcome"> Welcome to </p>
    <img class="logoimg" src="../photos/ebook-icon-png-6.jpg">
    <a href="/home">
      <p class="webtitle"> Bookwise </p>
    </a>
  </div>
  <!-- <div class="socialacc">
    <p> Continue with your social account : </p>
    <div class="accbuttons">
      <button class="google">Google</button>
      <button class="facebook">Facebook</button>
    </div>
  </div> -->
  <div class="log-acc">
    <p> Log in with your account : </p>
    <input class="emailbar" type="text" placeholder="Enter your email..." id="input-email">
    <br>
    <input class="passbar" type="password" placeholder="Password..." id="input-password">
  </div>
  <button class="log-in-button" id="login-btn">Log in</button>
  <!--<p class="forget-acc"> Forget your password ? </p>-->
  <br>
  <br>
  <p class="need-acc"> Need to create new account ? 
      <button class="sign-upb" onclick="window.location.href = '/log/signup';">Sign up</button>
   
  </p>
  <script type="module" src="../controllers/signin.js"></script>
  </body>
</html>